.navbar .dropdown-menu .nav-link::after {
  display: none;
}

@media (min-width: 768px) {
  .navbar-nav > .dropdown > .dropdown-menu {
    margin-top: 0;
  }
  .navbar-nav > .dropdown > .dropdown-menu .nav-link {
    padding: 0.25rem 1.5rem;
    color: #007bff;
  }
  .navbar-nav > .dropdown > .dropdown-menu .nav-link:hover, .navbar-nav > .dropdown > .dropdown-menu .nav-link:focus {
    background-color: #f8f9fa;
    color: #006fe6;
  }
  .navbar-nav > .dropdown > .dropdown-menu .nav-link.is-active {
    background-color: #007bff;
    color: #fff;
  }
  .navbar-nav > .dropdown > .dropdown-menu .nav-link::before {
    display: none;
  }
  .navbar-nav > .dropdown > .dropdown-menu .dropdown-toggle::after {
    display: none;
  }
}
