.vertical-tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.vertical-tabs__menu {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: -1px;
}

.vertical-tabs__menu-item-summary {
  font-size: 0.9rem;
}

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 0.5rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #868e96;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #868e96;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}

.nav-fill .nav-item {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.navbar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.navbar > .container,
.navbar > .container-fluid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-toggler {
  padding: 0.2rem 0.4rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-expand {
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
  color: #fff;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #fff;
}

.dropdown-language .dropdown-header {
  margin-top: 0;
  color: #868e96;
}

.toolbar-fixed .toolbar .toolbar-tray {
  z-index: 1030;
}

.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining::before {
  display: none !important;
}

.block-menu .nav {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-wrapper {
  background-color: #e9ecef;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -7.5px;
}

.navbar-brand .site-logo-link,
.navbar-brand .site-name,
.navbar-brand .site-slogan {
  max-width: 100%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.navbar-brand a {
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand .site-logo {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100px;
}

.navbar .site-name {
  font-family: inherit;
  font-weight: 500;
}

.navbar-toggler {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: #007bff;
  color: #007bff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23007bff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .nav-link {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.navbar a.nav-link {
  position: relative;
}

.navbar a.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  left: 0.5rem;
  height: 0;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

.navbar a.nav-link:hover::after, .navbar a.nav-link:focus::after {
  height: 3px;
  opacity: 1;
  background-color: #006fe6;
}

.navbar a.nav-link.is-active::after {
  height: 3px;
  opacity: 1;
  background-color: #006fe6;
}

.page__content .block-menu .nav-link {
  position: relative;
}

.page__content .block-menu .nav-link::after {
  content: '';
  display: block;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  left: 0.5rem;
  height: 0;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

.page__content .block-menu .nav-link:hover::after, .page__content .block-menu .nav-link:focus::after {
  height: 1px;
  opacity: 1;
  background-color: #006fe6;
}

.page__content .block-menu .nav-link.is-active::after {
  height: 1px;
  opacity: 1;
  background-color: #006fe6;
}

.nav-tabs,
.nav-pills {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.nav-tabs .nav-link,
.nav-pills .nav-link {
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.site-logo-link--svg {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.site-logo-link--svg svg {
  max-width: 100%;
}

.svg-logo-color path {
  fill: #343a40;
}

.page__header__top .nav-link:not(.dropdown-item):not(.btn) {
  position: relative;
}

.page__header__top .nav-link:not(.dropdown-item):not(.btn)::after {
  content: '';
  display: block;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  left: 0.5rem;
  height: 0;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

.page__header__top .nav-link:not(.dropdown-item):not(.btn):hover::after, .page__header__top .nav-link:not(.dropdown-item):not(.btn):focus::after {
  height: 2px;
  opacity: 1;
  background-color: #006fe6;
}

.page__header__top .nav-link:not(.dropdown-item):not(.btn).is-active::after {
  height: 2px;
  opacity: 1;
  background-color: #006fe6;
}

.page__footer__content .nav-link {
  position: relative;
}

.page__footer__content .nav-link::after {
  content: '';
  display: block;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  left: 0.5rem;
  height: 0;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

.page__footer__content .nav-link:hover::after, .page__footer__content .nav-link:focus::after {
  height: 1px;
  opacity: 1;
  background-color: #006fe6;
}

.page__footer__content .nav-link.is-active::after {
  height: 1px;
  opacity: 1;
  background-color: #006fe6;
}

.offcanvas {
  display: none;
}

.offcanvas.in {
  display: block;
}

.canvas-sliding {
  transition: top 0.35s, left 0.35s, bottom 0.35s, right 0.35s;
}

.offcanvas-clone {
  height: 0px !important;
  width: 0px !important;
  overflow: hidden !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  bottom: 0px !important;
  right: 0px !important;
  opacity: 0 !important;
}

.modal-backdrop.allow-navbar {
  z-index: 1029;
}

.limit-backdrop {
  overflow: hidden !important;
}

.limit-backdrop .modal-backdrop {
  position: absolute;
}

.offcanvas-close-link {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none !important;
}

.navmenu {
  width: 300px;
  max-width: 99%;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
}

.lockIphone {
  position: fixed;
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: auto;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  -webkit-transform: none;
          transform: none;
}

.navmenu-fixed-left,
.navmenu-fixed-right,
.navbar-offcanvas {
  border-radius: 0;
}

.navmenu-fixed-left,
.navbar-offcanvas.navmenu-fixed-left {
  left: 0;
  right: auto;
  border-width: 0 1px 0 0;
}

.navmenu-fixed-right,
.navbar-offcanvas {
  left: auto;
  right: 0;
  border-width: 0 0 0 1px;
}

.navmenu.in {
  border-color: rgba(0, 0, 0, 0.1);
}

.navmenu.in a:not([class]), .navmenu.in a.ext {
  color: #007bff;
  text-decoration: none;
}

.navmenu.in a:not([class]):hover, .navmenu.in a:not([class]):focus, .navmenu.in a.ext:hover, .navmenu.in a.ext:focus {
  color: #006fe6;
  text-decoration: underline;
}

.navmenu.in a:not([class]).is-active, .navmenu.in a:not([class]).active, .navmenu.in a.ext.is-active, .navmenu.in a.ext.active {
  color: #006fe6;
  text-decoration: underline;
}

.navmenu.in a.nav-link {
  color: #007bff;
  text-decoration: none;
}

.navmenu.in a.nav-link:hover, .navmenu.in a.nav-link:focus {
  color: #006fe6;
  text-decoration: none;
}

.navmenu.in a.nav-link.is-active, .navmenu.in a.nav-link.active {
  color: #006fe6;
  text-decoration: none;
}

.navmenu.in a.nav-link:hover, .navmenu.in a.nav-link:focus {
  text-decoration: none;
}

.navmenu.in a.nav-link:hover::after, .navmenu.in a.nav-link:focus::after {
  background-color: #006fe6;
}

.navmenu.in a.nav-link.is-active, .navmenu.in a.nav-link.active {
  color: #006fe6;
  text-decoration: none;
}

.navmenu.in a.nav-link.is-active::after, .navmenu.in a.nav-link.active::after {
  background-color: #006fe6;
}

.navmenu.in .btn {
  background-color: transparent;
}

.navmenu.in .navbar-nav .dropdown > a:hover .caret,
.navmenu.in .navbar-nav .dropdown > a:focus .caret {
  border-top-color: #006fe6;
  border-bottom-color: #006fe6;
}

.navmenu.in .navbar-nav .open > a, .navmenu.in .navbar-nav .open > a:hover, .navmenu.in .navbar-nav .open > a:focus {
  background-color: transparent;
  color: #006fe6;
}

.navmenu.in .navbar-nav .open > a .caret, .navmenu.in .navbar-nav .open > a:hover .caret, .navmenu.in .navbar-nav .open > a:focus .caret {
  border-top-color: #006fe6;
  border-bottom-color: #006fe6;
}

.navmenu.in .navbar-nav .dropdown > a .caret {
  border-top-color: #007bff;
  border-bottom-color: #007bff;
}

.navmenu.in .navbar-nav .dropdown-menu {
  background-color: transparent;
}

.navmenu.in .navbar-nav .dropdown-menu > .divider {
  background: #e9ecef;
}

.navmenu.in .navbar-nav .dropdown-menu > .active > a, .navmenu.in .navbar-nav .dropdown-menu > .active > a:hover, .navmenu.in .navbar-nav .dropdown-menu > .active > a:focus {
  background-color: rgba(0, 0, 0, 0);
}

.navmenu.in .navbar-nav li > a:hover, .navmenu.in .navbar-nav li > a:focus {
  background-color: transparent;
}

.navmenu.in .navbar-nav .active > a {
  color: #006fe6;
}

.navmenu.in .navbar-nav .active > a, .navmenu.in .navbar-nav .active > a:hover, .navmenu.in .navbar-nav .active > a:focus {
  background-color: transparent;
}

.navmenu.in .navbar-nav .active > a::after, .navmenu.in .navbar-nav .active > a:hover::after, .navmenu.in .navbar-nav .active > a:focus::after {
  background-color: #006fe6;
}

.navmenu.in .nav-links .is-active > a {
  color: #006fe6;
}

.navmenu.in .offcanvas-close-link {
  display: block !important;
}

.navmenu-fixed-left {
  right: auto !important;
}

.navmenu-fixed-right {
  left: auto !important;
}

.lockIphone {
  position: inherit;
}

body.canvas-sliding {
  left: auto !important;
}

body.canvas-slid {
  padding-right: 0;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md, .navbar {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav, .navbar .navbar-nav {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu, .navbar .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link, .navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md > .container, .navbar > .container,
  .navbar-expand-md > .container-fluid,
  .navbar > .container-fluid {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse, .navbar .navbar-collapse {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler, .navbar .navbar-toggler {
    display: none;
  }
  .navbar .dropdown-language .dropdown-menu-right {
    right: 0;
    left: inherit;
  }
  .navbar {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .navbar-nav {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar-collapse {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .navbar-nav {
    height: 100%;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .navbar-nav > .nav-item > .nav-link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar .offcanvas {
    display: block;
    width: auto;
    border: none;
  }
  .navbar .navmenu-fixed-right {
    position: initial;
    overflow-y: visible;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .navbar-expand-xl .navbar-collapse {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container, .navbar > .container,
  .navbar-expand-md > .container-fluid,
  .navbar > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .navbar .nav-link {
    padding: 0.5rem 0.5rem;
  }
  .navbar a.nav-link::after {
    right: 0.5rem;
    left: 0.5rem;
  }
  .navbar a.nav-link:hover, .navbar a.nav-link:focus {
    background: transparent;
  }
  .navbar .dropdown-menu {
    margin-top: 0;
    padding: 0 0 0 2rem;
    background: transparent;
    border: none;
  }
  .navbar .dropdown-item.active, .navbar .dropdown-item:active, .navbar .dropdown-item.is-active {
    background: transparent;
    color: #006fe6;
  }
  .navmenu-fixed-left,
  .navmenu-fixed-right,
  .navbar-offcanvas {
    position: fixed;
    z-index: 1030;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .navmenu.in {
    background: #e9ecef;
  }
  .navbar .navmenu {
    padding-top: 1rem;
  }
}
