.node-preview-container {
  background-color: #f8f9fa;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333);
}

.node-preview-container .form-select {
  display: inline-block;
  width: auto;
}

.node-preview-container .form-item {
  margin-bottom: 0;
}

body:not(.toolbar-fixed) .node-preview-container {
  top: 0;
}

.node-preview-container ~ .page__header {
  margin-top: 3.5rem;
}

.node-preview-backlink {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 1rem;
}
